@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000; 
}

/* General styles */
.container {
  width: 80%;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  color: #FFFFFF;
}

.title-container, .navigation {
  display: flex;
  align-items: center;
}

.navigation .nav-link {
  color: #FDED8B;
  text-decoration: none;
  margin-right: 20px;
}

.navigation .nav-link:hover {
  text-decoration: underline;
}

/* About */
.about-section {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #FFFFFF;
  min-height: 100vh;
}

.about-image {
  flex: 1; 
  max-width: 300px; 
  text-align: center;
  margin-right: 100px;
}

.profile-pic {
  width: 100%;
  max-width: 300px; 
  border-radius: 50%;
  margin-right: 50px; 
}

.about-content h1 {
  font-size: 6em;
  color: #FDED8B; 
  margin-bottom: 0.5em;
}

.about-content {
  flex: 2; 
  text-align: left;
  max-width: 600px; 
}


.tech-icons {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 100%; 
  flex-basis: 100%;
  margin-top: 20px;
}

.tech-icons svg {
  color: #FFF;
}

/* Projects */
.projects-container {
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
}

.projects-title {
  text-align: center;
  margin-bottom: 40px;
  color: #FDED8B;
  font-size: 6em;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 10px; 
}

.project-layout-left, .project-layout-right {
  justify-content: space-between; 
}

.project-layout-left .project-content,
.project-layout-right .project-content {
  margin: 0 20px;
}

.project-layout-left {
  flex-direction: row;
}

.project-layout-right {
  flex-direction: row-reverse;
}

.project-image img {
  max-width: 400px; 
  height: auto;
}

.project-content {
  flex: 1;
  padding: 20px;
  text-align: left;
  flex-grow: 2;
}

.project-title {
  color: #FDED8B;
  font-size: 1.5em;
}

.project-text {
  color: #FFFFFF;
}

.tech-tags {
  margin-top: 10px;
}

.tech-tag {
  display: inline-block;
  background-color: grey;
  color: #FDED8B;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}


.project-image, .project-content {
  margin: 0 20px;
}

/* Contact */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background: #000;
}

.contact-message {
  flex: 1;
  text-align: left;
  font-size: 2em;
  color: #FDED8B;
  margin-right: 50px;
}

.contact-form {
  flex: 1;
  padding: 20px;
  
}

.contact-title {
  font-size: 3em;
  color: #FDED8B;
  margin-bottom: 0.5em;
}

.form-label {
  text-align: left;
  margin-bottom: 10px;
  color: #FDED8B;
}

.form-control {
  width: 100%;
  background-color: #FFF;
  color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.form-control:focus {
  background-color: #FFF;
  outline: none;
}

.form-control#message {
  height: 150px;
}

.btn-primary {
  background-color: #4CAF50;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #45a049;
}



/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #000; 
  color: #FFFFFF;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px; 
}

footer a:hover {
  color: #e6d068;
}

footer .text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

